<<<<<<< HEAD
body{
    padding: 20px;
    margin: auto;

}

.outer{
    width: auto;
    border: 4px solid gray;
    margin: auto;
    padding: 20px;
}

h1{
    font-size: 20px;
    font-style: normal;
    color: darkslategrey;
}

a {
    color: rgb(91, 92, 94);
    padding: 10px;
    font-style: oblique;
}

address{
    color: rgb(230, 111, 0);
    padding: 10px;
}

p.test {
    padding: 10px;
}

p.test2 {
    padding: 20px;
}

img {
    height: 150px;
    width: 150px;
}

.link {
    height: 20px;
    width: 50px;
}

footer{
    padding: 20px;
}
=======
body{
    padding: 20px;
    margin: auto;

}

.outer{
    width: auto;
    border: 4px solid gray;
    margin: auto;
    padding: 20px;
}

h1{
    font-size: 20px;
    font-style: normal;
    color: darkslategrey;
}

a {
    color: lightslategray;
}

p.test {
    padding: 10px;
}

p.test2 {
    padding: 20px;
}

img {
    height: 160px;
    width: 160px;
}
>>>>>>> 3bcae078b7cf83d6d7148f157216595f305f9b57
